@import "../../../src/app/styles/variables.module.scss";

.input {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;

  input {
    padding: 10px;
    outline: none;
    border: 1px solid $input-border-color;
    border-radius: 5px;
    font-size: 15px;
  }

  p {
    color: $input-error-color;
    font-size: 14px;
    margin-top: 5px;
  }
}
