@import "../../styles/variables.module.scss";

.singleSell {
  margin: 20px;
  color: $font-color;

  .title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    h1 {
      margin-bottom: 20px;
      font-size: 20px;
      font-weight: 500;
    }

    a {
      background-color: $primary-color;
      color: $color-white;
      padding: 10px 20px;
      font-size: 15px;
      border-radius: 5px;
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }

  .sellInfo {
    display: flex;
    gap: 20;

    .left,
    .right {
      width: 50%;
      padding: 20px;
      box-shadow: $card-box-shadow;
      border-radius: 5px;

      h2 {
        font-size: 18px;
        margin-bottom: 15px;
        text-align: center;
      }

      ul {
        li {
          display: flex;
          justify-content: space-between;
          align-items: center;
          border-bottom: 1px solid $border-bottom-color;
          margin-bottom: 10px;
        }
      }
    }

    .left {
      .top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 15px;
        padding: 10px;

        div {
          display: flex;

          button,
          a {
            background: none;
            border: none;
            cursor: pointer;
            padding: 10px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;

            &:hover {
              background-color: $button-hover-color;
            }
          }
        }
      }
    }

    .right {
      .top {
        padding: 20px;
      }
    }
  }

  .repays {
    padding: 20px;
    box-shadow: $card-box-shadow;
    border-radius: 5px;
    margin-top: 20px;

    h2 {
      font-size: 18px;
      margin-bottom: 15px;
      text-align: center;
    }

    .tableContainer {
      overflow-x: auto;

      table {
        width: 100%;
        margin-top: 20px;
        border-collapse: collapse;

        tr {
          td {
            padding: 10px;
            border-bottom: 1px solid $border-bottom-color;
            white-space: nowrap;

            &:first-child {
              padding-left: 20px;
            }

            &:last-child {
              padding-right: 20px;
            }
          }

          .action {
            display: flex;
            align-items: center;

            button,
            a {
              background: none;
              border: none;
              cursor: pointer;
              border-radius: 50%;
              padding: 10px;
              display: flex;
              align-items: center;
              justify-content: center;

              &:hover {
                background-color: $button-hover-color;
              }
            }
          }
        }
      }
    }
  }

  .empty {
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 600px) {
  .singleSell {
    .title {
      a {
        p {
          display: none;
        }
      }
    }

    .sellInfo {
      flex-direction: column;

      .left,
      .right {
        width: 100%;

        .top {
          flex-direction: column;

          div {
            gap: 30px;
          }
        }
      }
    }
  }
}
