@import "@/app/styles/variables.module.scss";

.balanceFilter {
  position: absolute;
  background-color: #fff;
  box-shadow: $filter-box-shadow;
  padding: 20px;
  display: flex;
  gap: 20px;
  border-radius: 5px;

  .topClose {
    display: none;
  }

  li {
    display: flex;
    flex-direction: column;
    gap: 10px;

    button {
      border: none;
      background: none;
      padding: 10px;
      border-radius: 50%;
      color: $primary-color;
      cursor: pointer;

      &:hover {
        background-color: $button-hover-color;
      }
    }

    input,
    select {
      width: 100%;
      padding: 5px;
      outline: none;
      border: none;
      border-bottom: 1px solid $input-border-color;
      font-size: 15px;
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      background: none;
    }

    div {
      .react-datepicker-wrapper,
      .react-datepicker__input-container input {
        border: none !important;
        background: transparent !important;
        outline: none !important;
        box-shadow: none !important;
        display: inline-block;
        width: max-content !important;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .balanceFilter {
    flex-direction: column;

    .close {
      display: block;
      position: absolute;
      right: 0;
      top: 0;
    }
  }
}
