@import "./styles/variables.module.scss";

.home {
  margin: 20px;
  color: $font-color;

  .title {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
  }

  .cards {
    display: flex;
    gap: 20px;

    .card {
      display: flex;
      align-items: center;
      gap: 20px;
      padding: 30px 20px;
      width: 25%;
      background-color: $color-white;
      border-radius: 10px;
      box-shadow: $card-box-shadow;

      .left {
        background-color: $hovered-bg-color;
        padding: 10px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;

        .icon {
          color: $primary-color;
        }

        .success {
          color: $success-color;
        }

        .danger {
          color: $danger-color;
        }
      }

      .right {
        display: flex;
        flex-direction: column;
        gap: 5px;
      }
    }
  }

  .incomeOutcomChart {
    margin-top: 20px;
    background-color: $color-white;
    border-radius: 5px;
    box-shadow: $card-box-shadow;
    padding: 20px;

    .top {
      padding: 20px;

      h2 {
        text-align: center;
        font-weight: 500;
      }
    }
  }
}
