@import './styles/variables.module.scss';

.home {
  margin: 20px;
  color: $font-color;

  .title {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
  }

  .cards {
    display: flex;
    gap: 20px;

    .card {
      display: flex;
      align-items: center;
      gap: 20px;
      padding: 20px;
      width: 25%;
      background-color: $color-white;
      border-radius: 10px;
      box-shadow: $card-box-shadow;

      .left {
        background-color: $hovered-bg-color;
        padding: 10px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;

        .icon {
          color: $primary-color;
        }
      }

      .right {
        display: flex;
        flex-direction: column;
        gap: 5px;
      }
    }
  }
}
