@import "../../app/styles/variables.module.scss";

.datePick {
  width: 100%;

  .dateInput {
    padding: 11px;
    border-radius: 5px;
    width: 100%;
    font-size: 15px;
    border: 1px solid $input-border-color;
  }

  .wrappedDateInput {
    width: 100%;
  }
}
