@import "../../styles/variables.module.scss";

.addProduct {
  margin: 20px;
  color: $font-color;

  h1 {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 500;
  }

  .form {
    padding-bottom: 20px;
    width: 100%;
    background-color: $color-white;
    border-radius: 10px;
    box-shadow: $card-box-shadow;

    .top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px;
      border-bottom: 1px solid $border-bottom-color;

      h1 {
        font-size: 18px;
        font-weight: 500;
      }
    }

    form {
      padding: 20px;

      .inputGroup {
        width: 100%;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        gap: 20px;

        .client {
          width: 50%;
          display: flex;
          gap: 10px;

          .formInput {
            width: 100%;
          }
        }

        .formInput {
          display: flex;
          align-items: center;
          gap: 10px;
          width: 30%;

          &:last-child,
          &:nth-child(2) {
            width: max-content;
          }

          .addClient {
            width: 100%;
            background-color: #ffaf38;
            border: none;
            border-radius: 5px;
            padding: 8px;
            font-size: 15px;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }

      

      .bottom {
        .discount {
          width: 300px;
          margin-bottom: 20px;
        }

        .calc {
          display: flex;
          gap: 10px;
          margin-bottom: 20px;
        }
      }
    }
  }
}
