@import "@/app/styles/variables.module.scss";

.primaryBtn {
  width: 100%;
  background-color: $primary-color;
  color: $color-white;
  padding: 10px 20px;
  font-size: 15px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border: none;
  font-weight: 500;
  cursor: pointer;
}
